<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<section class="banner d-flex justify-content-center align-items-center">

    <div class="text-center">
        <h1 class="font-weight-bold">Shadi Manager Portal</h1>
        <h2>We are managing your entire wedding planning</h2>

        <button class="btn bg-primary btn-lg text-white mt-4">
            Get Started
        </button>

    </div>


</section>
</body>
</html>