<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<section>

    <div class="container">

        <div class="row">

            <div class="col-md-6 offset-md-3">

                <div class="my-card mt-3">

                    <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
                        <p th:text="${session.message.content}"></p>

                        <th:block th:text="${@removeMessageFromSession.removeMessageFromSession()}"></th:block>
                    </div>

                    <!--form yaha hai-->
                    <form novalidate th:action="@{/do_register}" th:method="post" th:object="${user}">

                        <div class="container text-center">

                            <img class="" style="width: 80px;" src="" th:src="@{/img/membership.png}" alt="">

                        </div>

                        <h1 class="text-center">Register Here !!</h1>

                        <!--name filed-->
                        <div class="form-group">
                            <label for="name_field">Your Name</label>
                            <input type="text"
                                   th:name="name"
                                   th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}"
                                   class="form-control"
                                   placeholder="Enter your name here"
                                   id="name_field"

                                   th:value="${user.name}"
                            />
                            <div class="invalid-feedback" th:each="e : ${#fields.errors('name')}" th:text="${e}">

                            </div>
                        </div>

                        <!--                        email field-->
                        <div class="form-group">
                            <label for="email_field">Your Email</label>
                            <input type="email"
                                   th:name="email"
                                   th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ''}"
                                   class="form-control"
                                   placeholder="Enter your email here"
                                   id="email_field"
                                   th:value="${user.email}"
                                   />

                            <div class="invalid-feedback" th:each="e : ${#fields.errors('email')}" th:text="${e}">

                            </div>

                        </div>

                        <!--                    password field-->

                        <div class="form-group">
                            <label for="password_field">Your Password</label>
                            <input type="password"
                                   class="form-control"
                                   placeholder="Enter your Password here"
                                   id="password_field"
                                   th:name="password"

                                   aria-describedby="emailHelp">
                        </div>

                        <!--                        user about field-->
                        <div class="form-group">

                            <textarea rows="10"
                                      th:text="${user.about}"
                                      th:name="about"
                                      th:value="${user.about}"
                                      placeholder="Enter something about yourself"
                                      class="form-control"></textarea>

                        </div>


                        <!--                        terms and condition agreement-->

                        <div class="form-group form-check">

                            <input type="checkbox"
                                   name="agreement"
                                   class="form-check-input"
                                   id="agreement"
                            />
                            <label for="agreement">Accept terms and condition</label>


                        </div>

                        <!--                     buttons are here   -->

                        <div class="container text-center">

                            <button type="submit" class="btn bg-primary text-white">
                                Submit
                            </button>
                            <button type="reset" class="btn btn-warning text-white">
                                Reset
                            </button>

                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
    </div>
</section>
</body>
</html>